"vim shared config, based on https://github.com/ikenox/dotfiles/blob/master/vim/vimrc.keymap
"   <leader> "," used in Ideavim

let mapleader = ","

" C-j and C-c for Esc
inoremap <C-j> <ESC>
vnoremap <C-j> <ESC>
inoremap <C-c> <ESC>
vnoremap <C-c> <ESC>

nnoremap L $
vnoremap L $
nnoremap H ^
vnoremap H ^

